<p>Edit your playdate </p>

<%= form_for(@playdate) do |f| %>
  <%= f.label :Playdate_title %></br>
  <%= f.text_field :playdate_title, class: 'form-control' %></br>
  <%= f.label :location %></br>
  <%= f.text_field :location, class: 'form-control' %></br>
  <%= f.label :description %></br>
  <%= f.text_field :description, class: 'form-control'  %></br>
  <%= f.hidden_field :originator, value: current_user.id %>
  When</br>
  <%= f.label :datetime %>
  <%= f.text_field :datetime, id: 'bar' %>
  
  <%= f.label :participants, "Select a Child:  " %>
  <%= f.collection_check_boxes :participants, @family.children, :id, :first_name  %></br>
  <%= f.submit %>
  <br>
<%end%>


<script type="text/javascript">
  const el = document.getElementById('bar');
  flatpickr(el, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "F j, Y at h:i K",
    dateFormat:      "Y-m-d H:i",
    defaultHour:     23,
    defaultMinute:   59,
    minuteIncrement: 1
  });
</script>