<div class="child">
  <div class="name">
    <h3> <%= @playdate.playdate_title %> </h3>
  </div>

  <div class ="container-fluid">
    <h4> Details: </h4>
    <div class ="container-fluid"> 
	    <p> When: <%= @playdate.datetime.strftime("%b %e, %l:%M %p")%> </p>
	    <p> Description: <%= @playdate.description %> </p>

	    <% unless everyone_attending? %>
	      <%= form_for :playdate, :url => url_for(:controller => 'playdates', :action => 'join') do |f| %>
		      <%= f.hidden_field :playdate_id, value: @playdate.id %>
		      <%= f.label :child_ids, "Select a Child:  " %>
		      <%= f.collection_check_boxes :child_ids, @family.children, :id, :first_name  %></br>
		      <%= f.submit %>
		    <%end%>
	    <%end%>
	  <hr/>

	  <p> Participants: </p>

	  <% @playdate.children.each do |child| %>
    	<div class="participants"><p> <%= link_to child.first_name, child_path(child) %> </p></div>
	  <%end%>
  </div>



<!-- leave a comment -->

    <%= form_for [@playdate, @comment] do |f| %>
			<%= f.label :leave_a_comment%>
			<%= f.text_field :comment %>
   		<%= f.hidden_field :playdate_id, value: @playdate.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
  		<%= f.submit %>
		<%end%>

</div>
<!-- comments -->

	<div class="container-fluid">
		<div class="comment">

  	  <% @playdate.comments.each do |comment| %>
  	    <div class="comment2">
      	  <b><%= comment.user.first_name.capitalize %><%= ": "%></b><%= comment.comment %></br>
        </div>
		
	
    	  <% if comment.user_id == current_user.id %>
    	    <div class="comment comment3">
      	    <%= link_to "Edit", edit_playdate_comment_path(@playdate.id, comment.id), class: 'small-left' %>
      	    <%= link_to "Delete", playdate_comment_path(@playdate.id, comment.id), class: 'small-left'  , method: :delete, data: { confirm: "Really?" } %>
    		  </div>
    	  <%end%>
      <br>
  	  
  	<%end%>
	</div>


<!-- play date created by.....  -->

	<div class="right">
		<% if @originator.id == current_user.id %>
	    <%= link_to "edit play date", edit_playdate_path(@playdate.id), class: 'small' %>
		<%else%>
	    <br>
		  <small> This play date was created by <%=@originator.first_name%> </small>
	  <%end%>
	</div>
</div>