<div class="child">
  <div class="name">
    <h3> Families </h3>
  </div>
  <div class="inner-content">
    <% families_near_me.each do |family| %>
      <% #unless family.id == my_family %>
      <div class="playdates inner-content">
        <%= link_to family.family_title, family_path(family.id)%>

        <% family.children.each do |child| %>
          <small> Child: <%= child.first_name %> Gender: <%= child.gender %> Age: <%= child.child_age %></small>
        <%end%>
        <b>Interests:</b>
        <% family.tags.each do |tag| %>
          <b> <%= tag.name%> </b>
        <%end%>
      </div>
    
      <%#end%>
    <%end%>
  </div>
</div>


  

