<div class="child">
  <div class="name">
    <h3> Welcome to that family app </h3>
  </div>

  <div class="inner-content">
    <% if @family.errors.any? %>
      <div id="error_explanation">
        <b><%= pluralize(@family.errors.count, "error") %> prohibited this post from being saved:</b>
        <ul>
          <% @family.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
        </ul>
      </div>
    <%end%>

    <%= form_for(@family) do |f| %>
      <div class="playdates inner-content">
        <p> User Info: </p>
      </div>
      <hr>
      <%= f.fields_for :users, @user do |user| %>
        <%= user.label :first_name %></br>
        <%= user.text_field :first_name, class: 'form-control' %></br>
        <%= user.label :last_name %></br>
        <%= user.text_field :last_name,class: 'form-control' %></br>
        <%= user.label :title, 'Relationship to the child:' %></br>
        <%= user.select :title, ['Parent', 'Grandparent', 'Nanny', 'Babysitter', 'Aunt', 'Uncle'] %></br>
        <br>
        <%= user.label :email, "Email:" %></br>
        <%= user.text_field :email, class: 'form-control'%><br>
        <%= user.label :password, "Password:"  %></br>
        <%= user.password_field :password, class: 'form-control'%><br>
      <%end%>
  </div>
</div>


<div class="child inner-content">
  <div class="playdates inner-content">
    <p>Family Info: </p>
  </div>

    <%= f.label :family_title, "Add a fun Family Name" %></br>
    <%= f.text_field :family_title, class: 'form-control' %></br>
    <%= f.label :zipcode %> </br>
    <%= f.text_field :zipcode, class: 'form-control' %></br>
    <%= f.label :password, " Family Code" %></br>
    <small> Create a code that other family members will use to join your family </small>
    <%= f.password_field :password, class: 'form-control' %></br>
  </div>


  
  <div class="child inner-content">

  <div class="playdates inner-content">
    <p>Child Info:</p>
    <small>You can add additional children in the settings section</small>
  </div>

  <%= f.fields_for :children, @child do |child| %>
  	<%= child.label :first_name %></br>
  	<%= child.text_field :first_name, class: 'form-control' %></br>
  	<%= child.label :last_name %></br>
  	<%= child.text_field :last_name, class: 'form-control' %></br>
  	<%= child.label :gender %></br>
  	<%= child.text_field :gender, class: 'form-control' %></br>
  	<%= child.label :age %></br>
    <%= child.date_select :age, {
            order: [:month, :day, :year],
            date_separator: "/",
            prompt: {
                month: 'mm',
                day: 'dd',
                year: 'yyyy',
            },
			:start_year=>2000,:end_year=>2020} %>
			<br>
			<br>
  <%end%>
  <%= f.submit %>
<%end%>
  </div>
  </div>
</div>
