<p> <%= current_user.first_name %> <%= current_user.last_name %></p>

<h1>My Children</h1>

<% my_children.each do |child| %>
<B>name: <%= link_to child.first_name, child_path(child.id) %></B>
<p> age: <%= child.age %></p>
 

  <% if child.upcoming_playdates.any? %>

    <% child.upcoming_playdates.each do |playdate| %>
      <p> <%= playdate.datetime.strftime("%b %e, %l:%M %p")%> </p>
      <p> <%= link_to playdate.playdate_title, playdate_path(playdate) %> </p>
  <%end%>

  <% else %>
      <small> <%=child.first_name%> does not have any play dates scheduled</small>
  <%end%> 
  <br>
<%end%>

  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <%end%>