<div class="content">
  <p> <%= current_user.first_name %> <%= current_user.last_name %></p>
</div>


<div class="content">
  <div class="container-fluid">

<% my_children.each do |child| %>

  <h4>My Children</h4>

  <B>name: <%= link_to child.first_name, child_path(child.id) %></B>
  <p> age: <%= child.age %></p>


  <% if child.upcoming_playdates.any? %>

    <% child.upcoming_playdates.each do |playdate| %>
      <p> <%= playdate.datetime.strftime("%b %e, %l:%M %p")%> </p>
      <p> <%= link_to playdate.playdate_title, playdate_path(playdate) %> </p>
  <%end%>

  <%else%>
      <small><%=child.first_name%> does not have any play dates scheduled</small>
  <%end%> 

  <br>


  <div class="content">
    <div class="content2">

    <h6 class="blue"> Update status: Is <%= child.first_name.capitalize %> bored today? </h6>

    <%= form_for(child) do |f| %>
      <%if child.bored%>
        <%= f.hidden_field :bored, value: false %>
        <%= f.submit "turn bored alert off" %>
      <% else %>
        <%= f.submit "turn bored alert on" %>
        <%= f.hidden_field :bored, value: true %>
      <%end%>
    <%end%>

    </div>
  </div>
  <%end%>
<br>
<br>
<br>

<h6> Kids that are Bored! </h6>

  <% Child.i_am_bored.each do |child| %>
    <%= link_to child.first_name, child_path(child.id) %></br>
  <%end%>
  </div>
 </div>
</div>


  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
  <%end%>
</div>



