<div class="new-account">
  <div class="name">
    <h3> Create a new account </h3>
  </div>

  <div class="login">
    <div class="login2">
	  <div class="container-fluid field_with_errors">
	    <% if @user.errors.any? %>
          <div id="error_explanation">
            <b><%= pluralize(@user.errors.count, "error") %>prohibited this post from being saved:</b>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <%end%>
            </ul>
          </div>
        <%end%>
    </div>
	
	
		<%= form_for(@user) do |f| %>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, class: "form-control" %>
			<%= f.label :last_name %>
			<%= f.text_field :last_name ,class: "form-control" %>
			<%= f.label :title, 'Relationship to the child:' %></br>
			<%= f.select :title, ['Parent', 'Grandparent', 'Nanny', 'Babysitter', 'Aunt', 'Uncle'] %></br>
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>
			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control" %>

			<%= f.fields_for :family, @family do |fam| %>
			  <%= fam.label :email %>
			  <%= fam.text_field :email ,class: "form-control" %>
			  <%= fam.label :family_code %>
			  <%= fam.password_field :password, class: "form-control"%>
			<br>
			<%= f.submit %>
		  <%end%>
		<%end%>
	</div>
	</div>
</div>