<div class="new-account">
  <h3> Family Info </h3>
  <div class="container-fluid"
    <%= form_for(@family) do |f| %>
      <%= f.label :family_title, "Add a fun Family Name" %></br>
      <%= f.text_field :family_title, class: 'form-control' %></br>
      <%= f.label :zipcode %> </br>
      <%= f.text_field :zipcode, class: 'form-control' %></br>
      <%= f.label :password, " Family Code" %></br>
      <%= f.password_field :password, class: 'form-control' %></br>
      <%= f.submit %>
    <%end%>
  </div>
</div>
